* {
    font-size: 14px;
}

.rounded {
    border-radius: 5px;
}

.mt-10 {
    margin-top: 10px;
}

table th, table td {
    font-size: 14px;
}

.form-group label {
    font-size: 15px;
}

.form-group .form-control {
    border-radius: 5px;
    width: 100%;
}

#userForm {
    margin: 0 20px;
}

.error-log {
    margin: 10px;
}

/*Task*/
select.slt_status option {
    color: #000;
}

.to-do {
    color: #989898 !important;
    border: 1px solid #989898 !important;
}

.doing {
    color: #03A9F4 !important;
    border: 1px solid #03A9F4 !important;
}

.checking {
    color: #2d2d2d !important;
    border: 1px solid #2d2d2d !important;
}

.confirm {
    color: #adca65 !important;
    border: 1px solid #adca65 !important;
}

.done {
    color: #84c529 !important;
    border: 1px solid #84c529 !important;
}

.btn-edit, .btn-delete {
    cursor: pointer;
}

.avatar-image {
    cursor: pointer;
}

#task_table td.task-name {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

#task_table td.task-user {
    width: 180px;
}
