#task_table .btn-info {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(0, 8, 9, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(182, 141, 107, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

#task_table .btn-info:hover {
    color: #FFF;
    background: rgba(182, 141, 107, 0.75);
    border: 2px solid rgba(182, 141, 107, 0.75);
}

.btn-add {
    /*float: right;*/
    margin-bottom: 10px;
}

#addTaskModal .modal-footer {
    margin-top: 30px;
}

.has-error.control-label {
    color: #a94442;
    margin-top: 15px;
}
